[Unit]
Description=Mount PlayFusion internal expansion storage
After=local-fs.target
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kazeta-internal-game-helper mount-storage
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
